body{background-color: powderblue;
font-family: arial;
line-height: 1.5em; 
letter-spacing: 0.2em;
word-spacing: 0.5em;
text-align: left;
opacity: 0.7;
}

h1{
	color:navy;
	margin-left: 20px;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;  
    text-decoration: underline; 
    text-align: center;
    border-style: dashed;
    border-color: navy;
    padding-bottom: 15px;
    padding-top: 10px;
    outline-color: green;
    outline-style: dashed;

}
h2{
	color: green;
	width: 200px;
    border: 5px solid green;
    padding: 15px;
    margin: 20px;
    outline-style: dashed;
    outline-color: navy;
    background-color: hsla(250, 80%, 80%, 0.8);

}
p.intro:first-letter {font-size: 150%}
p.intro:first-line {font-weight: bold;}

a:link {color: navy;
         background-color: lightgreen;}

a:visited {color: green;
	       background-color: lightgreen;
           text-decoration: line-through;}
a:hover {color: deeppink;
         background-color: lightgreen;}

a:active {color: cyan;
          background-color: lightgreen;}

ul {list-style-type: circle;
    list-style-position: outside;}

ol{list-style-type: decimal-leading-zero;
    list-style-position: outside;
    }
p.intro
{vertical-align: text-top;}
p{color: green;
  font-style: oblique;
    }